@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: white;
}

.icono-placeholder {
  background-image: url(../../public/customers/lupa.png);
  background-size: 21px 21px;
  background-repeat: no-repeat;
  background-position: 35rem center;
  
}